include('/etc/mock/centos-stream-10-x86_64.cfg')

config_opts['root'] = 'centos-stream-10-ci'

config_opts['yum.conf'] += """
[local-build]
name=Local Build Repository
baseurl=file:///local-repo/
enabled=1
gpgcheck=0
priority=1
cost=1
module_hotfixes=1

[epel]
name=Extra Packages for Enterprise Linux 10 - x86_64
baseurl=https://dl.fedoraproject.org/pub/epel/10/Everything/x86_64
enabled=1
gpgcheck=0
priority=10
"""

# Bind-mount the local repo into the chroot so mock can access it
config_opts['plugin_conf']['bind_mount_enable'] = True
config_opts['plugin_conf']['bind_mount_opts']['dirs'].append(
    ('/local-repo', '/local-repo')
)
