# Mock config for GNOME 50 builds on CentOS Stream 10
#
# Only includes the GNOME 50 COPR, not GNOME 49, to prevent
# cross-version dependency conflicts.

include('/etc/mock/epel-10-x86_64.cfg')

config_opts['root'] = 'centos-stream-10-ci-gnome50'

config_opts['rpmbuild_networking'] = False
config_opts['use_host_resolv'] = False
config_opts.setdefault('plugin_conf', {})
config_opts['plugin_conf'].setdefault('tmpfs_opts', {})
config_opts['plugin_conf']['tmpfs_opts']['keep_mounted'] = True

config_opts['yum.conf'] += """
[local-build]
name=Local Build Repository
baseurl=file:///local-repo/
enabled=1
gpgcheck=0
cost=1
skip_if_unavailable=1
module_hotfixes=1

[c10s-build]
name=CentOS Stream 10 Koji buildroot
baseurl=https://kojihub.stream.centos.org/kojifiles/repos/c10s-build/latest/x86_64/
enabled=1
gpgcheck=0
cost=1
skip_if_unavailable=1

[c10s-proposed-updates]
name=CentOS Stream 10 SIG Proposed Updates
baseurl=https://mirror.stream.centos.org/SIGs/10-stream/proposed_updates/x86_64/packages-main/
enabled=1
gpgcheck=0
cost=1
skip_if_unavailable=1

[copr-gnome50]
name=Copr repo for GNOME 50 owned by jreilly1821
baseurl=https://download.copr.fedorainfracloud.org/results/jreilly1821/c10s-gnome-50/epel-10-x86_64/
enabled=1
gpgcheck=0
cost=10
skip_if_unavailable=1
module_hotfixes=1
"""

config_opts['plugin_conf']['bind_mount_enable'] = True
config_opts['plugin_conf']['bind_mount_opts']['dirs'].append(
    ('/local-repo', '/local-repo')
)
