/blueprint-compiler-v0.2.0.tar.bz2
/blueprint-compiler-v0.4.0.tar.bz2
/blueprint-compiler-v0.6.0.tar.bz2
/blueprint-compiler-v0.10.0.tar.bz2
/blueprint-compiler-v0.12.0.tar.bz2
/blueprint-compiler-v0.16.0.tar.bz2
/blueprint-compiler-0.18.0.tar.xz
